.html, body{
    font-size: 14px;
    background: #F5F5F5;
    font-family: "Roboto",sans-serif;
}

.ca-container{
    text-align: -webkit-center;
    width: 100%;
    padding: 20px;
}

.ca-input-container{
    margin-bottom: -15px;
}

.ca-line {
    width: 100px;
    height: 2px;
    background: rgba(63, 81, 181, 1);
    margin: 26px;
}

/*Overriding some Material Design Lite styles*/
.mdl-textfield__input {
    font-size: 14px;
}