<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <md-card class="ca-card">
    <div md-card-image class="ca-login-card-background">
      <div fxLayout="row" fxFlexFill fxLayoutAlign="start center" class="ca-login-card-title">
        contacts-app
      </div>
    </div>
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <md-icon class="ca-username-icon ca-icon">account_circle</md-icon>
        <md-input-container>
          <input mdInput [(ngModel)]="user.username" type="text" required
                 placeholder="Username">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <md-icon class="ca-username-icon ca-icon">lock</md-icon>
        <md-input-container>
          <input mdInput [(ngModel)]="user.password" type="password" required
                 placeholder="Password">
        </md-input-container>
      </div>
      <br>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button color="primary" md-raised-button
                [disabled]="!user.username || !user.password"
                (click)="login()">Login
        </button>
      </div>
    </md-card-content>
  </md-card>
</div>
