<md-input-container>
  <input mdInput [(ngModel)]="contact.firstName" required placeholder="First name" (ngModelChange)="contactChanged.emit()">
</md-input-container>
<br>
<md-input-container>
  <input mdInput [(ngModel)]="contact.lastName" required placeholder="Last name" (ngModelChange)="contactChanged.emit()">
</md-input-container>
<br>
<md-input-container>
  <input mdInput [(ngModel)]="contact.phone" placeholder="Phone">
</md-input-container>
<br>
<md-input-container>
  <input mdInput [(ngModel)]="contact.streetAddress" placeholder="Street Address">
</md-input-container>
<br>
<md-input-container>
  <input mdInput [(ngModel)]="contact.city" placeholder="City">
</md-input-container>
