<md-sidenav-container class="ca-sidenav-container">
  <md-sidenav *ngIf="!toolbarProperties.hidden" class="ca-sidenav" name="sidenav" #sidenav [mode]="sidenavMode"
              [opened]="sidenavMode == 'side'">
    <div fxLayout="row" class="ca-sidenav-toolbar">
      <div fxLayout="column" fxLayoutAlign="center start">
        <md-icon style="width: 80px; height: 80px; font-size: 80px">account_circle</md-icon>
        <div style="font-size: 16px">Sami Anttonen</div>
        <div style="font-size: 12px">anttonen.sami@gmail.com</div>
      </div>
    </div>
    <div class="ca-sidenav-content">Content</div>
  </md-sidenav>
  <div class="toolbar-and-content" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
    <ca-toolbar (toggleSidenav)="toggleSidenav()"></ca-toolbar>
    <div class="ca-app-container">
      <div *ngIf="!toolbarProperties.hidden" class=""></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>

