.ca-app-container {
  overflow: auto;
  height: 100%;
}

.ca-sidenav{
  width: 250px;
}

.ca-sidenav-content{
  padding: 100px 12px 12px;
}

.ca-sidenav-container{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ca-sidenav-toolbar{
  width: 100%;
  height: 140px;
  background: url("../assets/images/blue-background.png");
  background-position-y: 140px;
  background-size: cover;
  padding: 12px;
  color: white;
}

.ca-toolbar-placeholder-fix {
  height: 70px;
}
