<md-sidenav-container class="ca-sidenav-container">
  <md-sidenav *ngIf="!toolbarProperties.hidden" class="ca-sidenav" name="sidenav" #sidenav [mode]="sidenavMode"
              [opened]="sidenavMode == 'side'">
    <div fxLayout="row" class="ca-sidenav-toolbar">
      <div fxLayout="column" fxLayoutAlign="center start">
        <md-icon style="width: 80px; height: 80px; font-size: 80px">account_circle</md-icon>
        <div style="font-size: 16px">Sami Anttonen</div>
        <div style="font-size: 12px">anttonen.sami@gmail.com</div>
      </div>
    </div>
    <div class="ca-sidenav-content">Content</div>
  </md-sidenav>
  <md-toolbar *ngIf="!toolbarProperties.hidden" class="mat-elevation-z5" color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
      <button caVibration *ngIf="!toolbarProperties.backEnabled" md-icon-button (click)="toggle()">
        <md-icon>menu</md-icon>
      </button>
      <button caVibration *ngIf="toolbarProperties.backEnabled" md-icon-button (click)="navigateBack()">
        <md-icon>arrow_back</md-icon>
      </button>
      <div fxFlex="100">
        {{toolbarProperties.title || ''}}
      </div>
      <button caVibration *ngIf="toolbarProperties.submitAction" md-icon-button (click)="toolbarProperties.submitAction()">
        <md-icon>check</md-icon>
      </button>
    </div>
  </md-toolbar>
  <div class="ca-app-container">
    <div *ngIf="!toolbarProperties.hidden" class="ca-toolbar-placeholder-fix"></div>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

