<md-card>
    <div md-card-image fxLayout="row" class="ca-contact-list-item-content">
      <md-icon class="ca-contact-list-item-icon">face</md-icon>
      <md-card-content>
        <div class="ca-contact-list-item-title">
          {{contact.firstName}} {{contact.lastName}}
        </div>
        <div class="ca-contact-list-item-subtitle">
          {{contact | contactAddress}}
        </div>
        <div class="ca-contact-list-item-subtitle">
          {{contact.phone}}
        </div>
      </md-card-content>
    </div>
  <md-card-actions>
    <div fxLayout="row">
      <div>
        <button md-icon-button class="ca-icon-button" (click)="removeContact()">
          <md-icon>delete</md-icon>
        </button>
        <button md-icon-button class="ca-icon-button" (click)="editContact()">
          <md-icon>edit</md-icon>
        </button>
      </div>
      <div fxFlex fxlayout="row" fxLayoutAlign="end center">
        <button *ngIf="contact.streetAddress || contact.city" md-icon-button class="ca-icon-button" (click)="showContactOnMap()">
          <md-icon>place</md-icon>
        </button>
      </div>
    </div>
  </md-card-actions>
</md-card>
