@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #E0E0E0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.ca-text-header{
  font-size: 20px;
  margin-bottom: 6px;
  color: #424242;
}

.ca-text-large{
  font-size: 16px;
  margin-bottom: 2px;
  color: #424242;
}

.ca-icon-button{
  color: #616161 !important;
}
